<fieldset>
    <legend><h1>{{ event.name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <span>Start: {{ event.start_timestamp }}</span><br />
    <span>End: {{ event.end_timestamp }}</span>

    <ul>
        {% for signup in event.signup_set.all %}
            <li>
                <form action="{% url 'appointer:signout' event.id signup.id %}" method="post">
                    {% csrf_token %}
                    {{ signup.name }}
                    <input id="signout-btn" type="submit" value="Sign-Out" />
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'appointer:signup' event.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="new_signup">
        <input type="submit" value="Sign up">
    </form>

    <form action="{% url 'appointer:delete_event' event.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Event">
    </form>

</fieldset>
